.boutons{
    -fx-background-color: #649FDB;
    -fx-text-fill: #64523f;
    -fx-font-style : Consolas;
    -fx-font-size : 25;
    -fx-font-weight : bold;
}

.choiceBox{
    -fx-text-fill: #64523f;
    -fx-font-style : Consolas;
    -fx-font-size : 15;
    -fx-background-color :  #e4dfd7;
    -fx-font-weight : bold;
}

.labelPseudo{
    -fx-text-fill: #64523f;
    -fx-font-style : Consolas;
    -fx-font-size : 15;
    -fx-font-weight : bold;
}

.boutons:hover{
    -fx-background-color: #5383B5;
}

.tuiles{
    -fx-font-size : 25;
    -fx-font-weight : bold;
    -fx-text-fill: #64523f;
    -fx-font-style : Consolas;
    -fx-border-width : 2px;
    -fx-border-color : #64523f;
    -fx-border-radius : 5px;
    -fx-background-radius:5px;
}

.tuile2{
    -fx-background-color:#D3D3EE;
}
.tuile4{
    -fx-background-color:#CCC7ED;
}
.tuile8{
    -fx-background-color:#7A76F2;
}
.tuile16{
    -fx-background-color:#574DC9;
}
.tuile32{
    -fx-background-color:#3E4DF6;
}
.tuile64{
    -fx-background-color:#0F65E3;
}
.tuile128{
    -fx-background-color:#0EDCF7;
}
.tuile256{
    -fx-background-color:#8E57ED;
}
.tuile512{
    -fx-background-color:#2B1AED;
}
.tuile1024{
    -fx-background-color:#180E82;
}
.tuile2048{
    -fx-background-color:#3F0682;
}
.tuilePlus{
    -fx-background-color:#9F20ED;
}