.boutons{
    -fx-background-color: #F2B179;
    -fx-text-fill: #64523f;
    -fx-font-style : Consolas;
    -fx-font-size : 25;
    -fx-font-weight : bold;
}

.boutons:hover{
    -fx-background-color: #F0945D;
}


.tuiles{
    -fx-font-size : 25;
    -fx-font-weight : bold;
    -fx-text-fill: #64523f;
    -fx-font-style : Consolas;
    -fx-border-width : 2px;
    -fx-border-color : #64523f;
    -fx-border-radius : 5px;
    -fx-background-radius:5px;
}


.tuile2{
    -fx-background-color:#EEE4DA;
}

.tuile4{
    -fx-background-color:#EDE0C8;
}

.tuile8{
    -fx-background-color:#F2B179;
}

.tuile16{
    -fx-background-color:#F59563;
}
.tuile32{
    -fx-background-color:#F67C60;
}
.tuile64{
    -fx-background-color:#F65E3B;
}
.tuile128{
    -fx-background-color:#EDCF73;
}
.tuile256{
    -fx-background-color:#EDCC62;
}
.tuile512{
    -fx-background-color:#EDC850;
}
.tuile1024{
    -fx-background-color:#EDC53F;
}
.tuile2048{
    -fx-background-color:#EDC22D;
}

.tuilePlus{
    -fx-background-color:#FF2021;
}





