.boutons{
    -fx-background-color: #F2B179;
    -fx-text-fill: #64523f;
    -fx-font-style : Consolas;
    -fx-font-size : 25;
    -fx-font-weight : bold;
}

.boutons:hover{
    -fx-background-color: #F0945D;
}


.tuiles{
    -fx-font-size : 25;
    -fx-font-weight : bold;
    -fx-text-fill: #64523f;
    -fx-font-style : Consolas;
}


